
.DS_Store
.backup
tmp
entities/overrides/
resources/tiles/*/cache_dyn
resources/tiles/*/cache_imm
resources/jwt
resources/proj
resources/tiles3d
resources/tiles/zoomstack/OS_Open_Zoomstack.mbtiles
resources/features/OS_Open_Zoomstack.gpkg
resources/features/*.gpkg-journal
resources/features/*.gpkg-shm
resources/features/*.gpkg-wal
\!*
